[[source]]
name = "custom"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
jieba = "*"
lxml = "*"
beautifulsoup4 = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"
pdfminer3k = "*"
pyecharts = "*"
snapshot-selenium = "*"
pyqt5 = "*"
pyqt5-stubs = "*"
pyinstaller = "*"
setuptools = "==44.0.0"
python-docx = "*"

[requires]
python_version = "3.8"
